@model MvcApplication1.Models.EmployerRegister

@{
    ViewBag.Title = "注册";
    Layout = "~/Views/Shared/Master.cshtml";  
}

@section Styles{    
    <link href="~/Content/Employer/RegisterCss.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Employer/ShareCss.css" rel="stylesheet" type="text/css" />
}

<div id="RegisterContent">
    <h1>欢迎注册成为企业用户</h1>
    @using (Html.BeginForm("Register", "Employer", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        //显示注册流程
        <div id="divRegisterProcess">
            <ul>
                <li>
                    <span class="liucheng01" id="liucheng01now">01</span>
                    <span class="liucheng02" id="liucheng02now">注册</span>
                </li>
                <li>
                    <span class="liucheng01">02</span>
                    <span class="liucheng02">等待审核</span>
                </li>
                <li>
                    <span class="liucheng01">03</span>
                    <span class="liucheng02">注册成功</span>
                </li>
            </ul>
        </div>
        //账户信息
        <div id="divAccount">
            @*标题部分*@
            <div class="divTitle" id="divAccountTitle">
                <img src="~/Images/Employer/AccountInfo.jpg" />
                <p>账户信息</p>
            </div>
            @*内容部分*@
            <div id="divAccountContent" class="divContent">
                <table>
                    @*账号*@
                    <tr>
                        <td class="TbRight">
                            <font style="font-size:18px;" color="red">*</font>@Html.LabelFor(model => model.EmployerAccount)：
                        </td>
                        <td>
                            @Html.EditorFor(model => model.EmployerAccount)
                            <label id="lblMessageAccount" style="color:red;">@ViewBag.MessageAccount</label>
                            @Html.ValidationMessageFor(model => model.EmployerAccount)
                            <font>@Html.DisplayDescriptionFor(model => model.EmployerAccount)</font>
                        </td>
                    </tr>
                    @*密码*@
                    <tr>
                        <td class="TbRight">
                            <font style="font-size:18px;" color="red">*</font>@Html.LabelFor(model => model.EmployerPwd)：
                        </td>
                        <td>
                            @Html.EditorFor(model => model.EmployerPwd)
                            @Html.ValidationMessageFor(model => model.EmployerPwd)
                            <font>@Html.DisplayDescriptionFor(model => model.EmployerPwd)</font>
                        </td>
                    </tr>
                    @*确认密码*@
                    <tr>
                        <td class="TbRight">
                            <font style="font-size:18px;" color="red">*</font>@Html.LabelFor(model => model.ConfirmEmployerPwd)：
                        </td>
                        <td>
                            @Html.EditorFor(model => model.ConfirmEmployerPwd)
                            @Html.ValidationMessageFor(model => model.ConfirmEmployerPwd)
                        </td>
                    </tr>           
                </table>
            </div>
        </div>

        //联系人信息
        <div id="divContact">
            @*标题部分*@
            <div class="divTitle" id="divContactTitle">
                <img src="~/Images/Employer/ContactInfo.jpg" />
                <p>联系人信息</p>
            </div>
            @*内容部分*@
            <div id="divContactContent" class="divContent">
                <table>
                    @*联系人姓名*@
                    <tr>
                        <td class="TbRight" style="width:110px;">
                            <font style="font-size:18px;" color="red">*</font>@Html.LabelFor(model => model.ContactPersonName)：
                        </td>
                        <td>
                            @Html.EditorFor(model => model.ContactPersonName)
                            @Html.ValidationMessageFor(model => model.ContactPersonName)
                            <font>@Html.DisplayDescriptionFor(model => model.ContactPersonName)</font>
                        </td>
                    </tr>
                    @*联系人性别*@
                    <tr>
                        <td class="TbRight">
                            <font style="font-size:18px;" color="red">*</font>@Html.LabelFor(model => model.ContactPersonSex)：
                        </td>
                        <td>
                            <input name="ContactPersonSex" type="radio" value="0" checked="checked" />女
                            <input name="ContactPersonSex" type="radio" value="1" />男
                            @Html.ValidationMessageFor(model => model.ContactPersonSex)
                        </td>
                    </tr>
                    @*固定电话*@
                    <tr>
                        <td class="TbRight">
                            @Html.LabelFor(model => model.FixedTelephone)：
                        </td>
                        <td>
                            @Html.EditorFor(model => model.FixedTelephone)
                            @Html.ValidationMessageFor(model => model.FixedTelephone)
                            <font>@Html.DisplayDescriptionFor(model => model.FixedTelephone)</font>
                        </td>
                    </tr>
                    @*移动电话*@
                    <tr>
                        <td class="TbRight">
                            <font style="font-size:18px;" color="red">*</font>@Html.LabelFor(model => model.MobilePhone)：
                        </td>
                        <td>
                            @Html.EditorFor(model => model.MobilePhone)
                            @Html.ValidationMessageFor(model => model.MobilePhone)
                            <font>@Html.DisplayDescriptionFor(model => model.MobilePhone)</font>
                        </td>
                    </tr>
                    @*邮箱*@
                    <tr>
                        <td class="TbRight">
                            <font style="font-size:18px;" color="red">*</font>@Html.LabelFor(model => model.Email)：
                        </td>
                        <td>
                            @Html.EditorFor(model => model.Email)
                            @Html.ValidationMessageFor(model => model.Email)
                            <font>@Html.DisplayDescriptionFor(model => model.Email)</font>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

        //单位基本信息
        <div id="divCompany">
            @*标题部分*@
            <div class="divTitle" id="divCompanyTitle">
                <img src="~/Images/Employer/CompanyInfo.jpg" />
                <p>单位基本信息</p>
            </div>
            @*内容部分*@
            <div id="divCompanyContent" class="divContent">
                <table>
                    @*单位名称*@
                    <tr>
                        <td class="TbRight">
                            <font style="font-size:18px;" color="red">*</font>@Html.LabelFor(model => model.CompanyName)：
                        </td>
                        <td>
                            @Html.TextBoxFor(model => model.CompanyName, new { @placeholder = "全称，注册法人名称为准" })
                            @Html.ValidationMessageFor(model => model.CompanyName)
                        </td>
                    </tr>
                    @*总公司名称*@
                    <tr>
                        <td class="TbRight">
                            @Html.LabelFor(model => model.ParentCompanyName)：
                        </td>
                        <td>
                            @Html.TextBoxFor(model => model.ParentCompanyName, new { @placeholder = "组织机构代码证上为准（若无可不填写）" })
                            @Html.ValidationMessageFor(model => model.ParentCompanyName)
                        </td>
                    </tr>
                    @*单位简介*@
                    <tr>
                        <td class="TbRight">
                            @Html.LabelFor(model => model.CompanyIntroduction, new { @class = "txtAreaLabel" })：
                            @*@Html.Label("：", new { @class = "txtAreaLabel" })*@
                        </td>
                        <td>
                            <textarea class="inputTxt" name="CompanyIntroduction" style="width:380px;height:75px;"></textarea>
                            @Html.ValidationMessageFor(model => model.CompanyIntroduction)
                        </td>
                    </tr>
                    @*办公电话*@
                    <tr>
                        <td class="TbRight">
                            <font style="font-size:18px;" color="red">*</font>@Html.LabelFor(model => model.CompanyPhone)：
                        </td>
                        <td>
                            @Html.EditorFor(model => model.CompanyPhone)
                            @Html.ValidationMessageFor(model => model.CompanyPhone)
                        </td>
                    </tr>
                    @*组织机构代码*@
                    <tr>
                        <td class="TbRight">
                            <font style="font-size:18px;" color="red">*</font>@Html.LabelFor(model => model.OrganizationCode)：
                        </td>
                        <td>
                            @Html.EditorFor(model => model.OrganizationCode)
                            @Html.ValidationMessageFor(model => model.OrganizationCode)
                        </td>
                    </tr>
                    @*组织机构代码有效期*@
                    <tr>
                        <td class="TbRight">
                            <font style="font-size:18px;" color="red">*</font>@Html.Label("组织机构代码有效期至")：
                        </td>
                        <td>
                            @*@Html.TextBoxFor(model => model.ValidPeriod, new { @class="date_picker",@readonly=true,@Value="2010-1-01"})*@
                            <input type="text" readonly="readonly" name="ValidPeriod" class="date_picker" value="2000-1-01"/>
                            @Html.ValidationMessageFor(model => model.ValidPeriod)
                        </td>
                    </tr>
                    @*单位性质*@
                    <tr>
                        <td class="TbRight">
                            <font style="font-size:18px;" color="red">*</font>@Html.LabelFor(model => model.CompanyNature)：
                        </td>
                        <td>
                            @Html.DropDownListFor(model => model.CompanyNature, ViewBag.CompanyNature as IEnumerable<SelectListItem>)
                            @Html.ValidationMessageFor(model => model.CompanyNature)
                        </td>
                    </tr>
                    @*单位行业*@
                    <tr>
                        <td class="TbRight">
                            <font style="font-size:18px;" color="red">*</font>@Html.LabelFor(model => model.CompanyBusiness)：
                        </td>
                        <td>
                            @Html.DropDownListFor(model => model.CompanyBusiness, ViewBag.CompanyBusiness as IEnumerable<SelectListItem>)
                            @Html.ValidationMessageFor(model => model.CompanyBusiness)
                        </td>
                    </tr>
                    @*单位规模*@
                    <tr>
                        <td class="TbRight">
                            <font style="font-size:18px;" color="red">*</font>@Html.LabelFor(model => model.CompanySize)：
                        </td>
                        <td>
                            @Html.DropDownListFor(model => model.CompanySize, ViewBag.CompanySize as IEnumerable<SelectListItem>)
                            @Html.ValidationMessageFor(model => model.CompanySize)
                        </td>
                    </tr>
                    @*注册资本*@
                    <tr>
                        <td class="TbRight">
                            <font style="font-size:18px;" color="red">*</font>@Html.LabelFor(model => model.RegisteredCapital)：
                        </td>
                        <td>
                            @Html.EditorFor(model => model.RegisteredCapital)
                            @Html.Label("（万元）")
                            @Html.ValidationMessageFor(model => model.RegisteredCapital)
                        </td>
                    </tr>
                    @*是否是五百强*@
                    <tr>
                        <td class="TbRight">
                            <font style="font-size:18px;" color="red">*</font>@Html.LabelFor(model => model.IsTop500)：
                        </td>
                        <td>
                            @Html.DropDownListFor(model => model.IsTop500, ViewBag.IsTop500 as IEnumerable<SelectListItem>)
                            @Html.ValidationMessageFor(model => model.IsTop500)
                        </td>
                    </tr>
                    @*单位所在地*@
                    <tr>
                        <td class="TbRight">
                            <font style="font-size:18px;" color="red">*</font>@Html.Label("单位所在地")：
                        </td>
                        <td>
                            <select name="CompanyAreaProvince" id="selProvince" onchange="provinceChange();"></select>
                            <select name="CompanyAreaCity" id="selCity"></select>
                            @Html.ValidationMessageFor(model => model.CompanyAreaProvince)
                            @Html.ValidationMessageFor(model => model.CompanyAreaCity)
                        </td>
                    </tr>
                    @*单位地址*@
                    <tr>
                        <td class="TbRight">
                            <font style="font-size:18px;" color="red">*</font>@Html.LabelFor(model => model.CompanyAddress)：
                        </td>
                        <td>
                            @Html.TextBoxFor(model => model.CompanyAddress, new { @placeholder = "街道地址" })
                            @Html.ValidationMessageFor(model => model.CompanyAddress)
                        </td>
                    </tr>
                    @*城市类型*@
                    <tr>
                        <td class="TbRight">
                            <font style="font-size:18px;" color="red">*</font>@Html.LabelFor(model => model.CityClass)：
                        </td>
                        <td>
                            @Html.DropDownListFor(model => model.CityClass, ViewBag.CityClass as IEnumerable<SelectListItem>)
                            @Html.ValidationMessageFor(model => model.CityClass)
                        </td>
                    </tr>
                    @*备注*@
                    <tr>
                        <td class="TbRight">
                            @Html.LabelFor(model => model.Remark, new { @class = "txtAreaLabel" })：
                            @*@Html.Label("：", new { @class = "txtAreaLabel" })*@
                        </td>
                        <td>
                            <textarea class="inputTxt" placeholder="如有特殊需求请填写备注" name="Remark" style="width:380px;height:75px;"></textarea>
                            @Html.ValidationMessageFor(model => model.Remark)
                        </td>
                    </tr>                  
                </table>
            </div>
        </div>

        //证件照片
        <div id="divCredentialDir">
            @*标题部分*@
            <div class="divTitle" id="divCredentialDirTitle">
                <img src="~/Images/Employer/CompanyInfo.jpg" />
                <p>营业执照或组织机构代码证</p>
            </div>
            @*内容部分*@
            <div id="divCredentialDirContent" class="divContent">
                <div id="divCredentialDirContentUpload">
                    <input id="file" type="file" name="file1" onchange="GetFileName(this)" /><br />
                </div>
                <div id="divCredentialDirContentText">
                    企业需上传“营业执照”，事业单位需上传“组织机构代码证”(仅支持jpg、jpeg、png、gif格式的图片)
                    <br />
                    <label id="fileName"></label><br />
                    <label id="lblMessage" style="color:red;">@ViewBag.Message</label>
                </div>
            </div>
        </div>

        <div id="divBtn">
            <input type="checkbox" name="agree" onclick="agreeChange(this)" />我已阅读并同意相关服务条款和隐私政策  <a href="~/Agree/中南大学就业指导中心用户协议.pdf">查看</a>
            <br /><br />
            <p>
                <input type="submit" style="cursor:default;color:#888;" id="btnRegister" disabled="disabled" value="申请注册" />
                <input type="button" onclick="Close()" value="关闭" />
            </p>
        </div>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript" src="~/Scripts/Employer/jquery-1.8.2.min.js"></script>
    <script type="text/javascript" src="~/Scripts/Employer/jquery.date_input.pack.js"></script>@*日期控件*@
    <script type="text/javascript" src="~/Scripts/Employer/ProvinceCity.js" language="javascript"></script> @*省市js*@
    <script>
        var btnRegister = document.getElementById("btnRegister");
        function agreeChange(obj) {
            if (obj.checked == false) {
                btnRegister.disabled = true;
                btnRegister.style.color = "#888";
                btnRegister.style.cursor = "default";
            }
            else {
                btnRegister.disabled = false;
                btnRegister.style.color = "#fff";
                btnRegister.style.cursor = "pointer";
            }
        }
        function GetFileName(obj) {
            var filename = document.getElementById("fileName");
            filename.innerHTML = obj.value.substr(obj.value.lastIndexOf('\\') + 1);
        }
        function Close() {
            window.history.back(-1);
        }
        $(function () {
            $('.date_picker').date_input();
        })
    </script>
}

