@foreach (System.Data.DataRow dr in ViewBag.EmployerArticles.Rows)
{
    string str = dr["Title"].ToString();
    string key = ViewBag.key;
    string ans = "";
    int len = str.Length;
    for (int i = 0; i < len; i++)
    {
        if (key.Contains(str[i]))
        {
            ans += "<span style='color:red !important'>";
            ans += str[i];
            ans += "</span>";
        }
        else
        {
            ans += str[i];
        }
    }
    dr["Title"] = ans;
    <tr>
        <td>
            @dr["CompanyName"]
        </td>
        <td>
            @if (ViewBag.isAudit == 0 || ViewBag.isAudit == 1)
            {
                //待审核
                <a style="background-color:white !important;color:blue !important;text-decoration:underline;" target='_blank' href='~/Admin/TempArticleDetails/@Int32.Parse(dr["ArticleID"].ToString())'>@Html.Raw(dr["Title"].ToString())</a>
            }
            else if (ViewBag.isAudit == 2)
            {
                //通过审核的
                <a style="background-color:white !important;color:blue !important;text-decoration:underline;" target='_blank' href='~/Home/ArticleDetails/@Int32.Parse(dr["ArticleID"].ToString())'>@Html.Raw(dr["Title"].ToString())</a>
            }
            
        </td>
        <td>
            @dr["TypeName"]
        </td>
        <td>
            @if (ViewBag.isAudit == 0)
            {
                //已经拒绝的
                @Html.ActionLink("删除", "EmployerArticleDelete", new { id = Convert.ToInt32(dr["ArticleID"]), isAudit = ViewBag.isAudit }, new { style = "color:#fff;", onclick = "return confirm('确认删除吗？')" })
            }
            else if (ViewBag.isAudit == 1)
            {
                //待审核的
                @Html.ActionLink("查看并审核", "EmployerArticleAudit", new { id = Convert.ToInt32(dr["ArticleID"]), typeName = dr["TypeName"] }, new { style = "color:#fff;" })
                @Html.ActionLink("删除", "EmployerArticleDelete", new { id = Convert.ToInt32(dr["ArticleID"]), isAudit = ViewBag.isAudit }, new { style = "color:#fff;", onclick = "return confirm('确认删除吗？')" })
            }
            else
            {
                //通过审核的
                @Html.ActionLink("修改", "EmployerArticleUpdate", new { id = Convert.ToInt32(dr["ArticleID"]), typeName = dr["TypeName"].ToString() }, new { style = "color:#fff;" })
                @Html.ActionLink("删除", "EmployerArticleDelete", new { id = Convert.ToInt32(dr["ArticleID"]), isAudit = ViewBag.isAudit }, new { style = "color:#fff;", onclick = "return confirm('确认删除吗？')" })
            }
        </td>
    </tr>
}